$font-principal: 'Helvetica', sans-serif; /*fuente principal*/
$page-color: #e6e8e9; /*color pagina*/
$design-color: #ee1379; /*color rol diseño*/
$code-color: #071092; /*color rol codigo*/
$marketing-color: #ee6307; /*color rol marketing*/
